*{
    margin: 0;
    padding: 0;
}
/*.grid{
    width: 100%;
    display: grid;
    grid-template-rows: 10% ;
    grid-template-columns: 25%;
    grid-gap: 15px;

}*/

body{
    background:url('siteImages/wall.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  text-align: center;
    
}


.nav-area{
    text-align: center;
    list-style: none;
    margin-top: 15%;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color:rgb(36, 36, 145);
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 25px;
    text-transform: uppercase;
    margin-top: 20px;
}
.nav-area li a:hover{
    background: rgb(212, 223, 219);
    color: #333;
}
.logo img{
    width: 100px;
    height: auto;
    margin: 10px auto 20px;
    display: block;
}
.welcomeText{
    text-align: center;
   
    padding-left: 40px;
    padding-right: 40px;

}
.welcomeText h1{
    text-align: center;
    color: rgb(36, 36, 145);
    text-transform: uppercase;
    font-size: 30px;
}
.welcomeText a{
    border: 1px solid black;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: black;
}
.welcomeText a:hover{
    background: rgb(194, 215, 210);
    color: black;
}

/*The Responsive Design...*/

@media only screen and (min-width:768px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 
     
    }
  }
  
  @media screen and (min-width:1024px) {
    .grid{
      display: grid;
      grid-template-columns: 1fr ;
      
    }
  }