@import "compass/css3";

* {
	box-sizing: border-box;
}

#backButton{
    background: rgb(89, 112, 244);
    color: white;
    padding-bottom: 1%;
    padding-right: 1%;
    margin-right: 70%;
    
}
#userDirection{
    text-align: center;
    color: rgb(99, 99, 151);
    margin-top: 30%;
    
}

body {
	background:url('siteImages/wall.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  margin: 0;
  text-align: center;
}

.collectUser {
  	height: 105px;
    margin-top: 10%;
    margin-right: auto;
      display: block;
      text-align: center;
      
}
  
.collectUser ::after {
 		/*border-radius: 100%;
    	box-shadow: 0 -10px 10px 0 rgba(0,0,0,0.3);*/
    	content: "";
        left: 15px;
        display: block;
        text-align: center;
    	/*position: absolute;*/
    	height: 10px;
    	top: 109px;
    	width: 320px;
    }


form {
  	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 6px;
  	box-shadow: inset 0 1px 3px rgba(255,255,255,0.4),
    									0 1px 3px rgba(0,0,0,0.45);
  	padding: 10px;
  	/*position: relative;*/
      animation: appear 1.5s ease;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      
    
}
  form ::after {
    background: #e5e8e7;
  	content: "";
    height: 50px;
    position: absolute;
    top: 80px;
    width: 350px;
    z-index: 999;
  }


input {
	border-radius: 5px;
  height: 34px;
  padding: 0;
  
  
}

input {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
	border: 1px solid rgba(0,0,0,0.48);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.4),
    								0 1px 0 rgba(255,255,255,0.5);
  padding-left: 10px;
  width: 240px;
  appearance: none;
}
input[type="email"] ::after -webkit-input-placeholder {
  	color: rgba(0,0,0,0.6);
  }
  
  input[type="email"] ::after moz-input-placeholder {
  	color: rgba(0,0,0,0.6);
  }
  
  input[type="email"] ::after focus {
  	  background: linear-gradient(#d1d5d2, #fefefe);
    	box-shadow: 0 1px 0 rgba(247, 132, 132, 0.5);
    	outline: none;
  }


input[type="button"] {
  background: linear-gradient(#58a9e2, #346cce);
  border: 1px solid rgba(0,0,0,0.48);
  box-shadow: inset 0 1px 3px rgba(255,255,255,0.4),
    								0 1px 2px rgba(0,0,0,0.45);
  color: #fff;
  display: inline-block;
  font-weight: bold;
	height: 35px;
  margin-left: 5px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  width: 76px;
}
input[type="button"]::after hover {
  	background: linear-gradient(#6db1e1, #4375cc);
  }
  
  input[type="button"]::after active {
  	box-shadow: inset 0 1px 2px rgba(0,0,0,0.45),
      								0 1px 3px rgba(255,255,255,0.4);
  }







