* {
    box-sizing: border-box;
  }
body{
    background:url('siteImages/wall.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  margin: 0;
  text-align: center;
}

.grid ul{
    width: 100%;
    display: grid;
    position: center;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    
   

}
#menuNav{
    padding-top: 10%;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
/*.nav-area{
    text-align: center;
    list-style: none;
    margin-top: 20%;
    
}
.nav-area li{
display: grid;

    
}
.nav-area li a{
    color:rgb(36, 36, 145);
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 2% ;
    text-transform: uppercase;
    margin-top: 1vw;
    
    
}
.nav-area li a:hover{
    background: rgb(212, 223, 219);
    color: #333;
}
li{
    margin: 2% 2% 2% 2%;
}*/
.logo img{
    width: 100px;
    height: auto;
    margin: 10px auto 20px;
    display: block;
    border-radius: 50%;
    background:  rgb(194, 215, 210);
    margin-top: 2%;
    border: 5px double black;
}
.welcomeText{
    text-align: center;
    border: 10px double rgb(0, 0, 0);
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 15%;
    margin-right: 15%;
    background: rgb(176, 172, 172);
    overflow: auto;

}
.welcomeText h1{
    text-align: center;
    color: rgb(36, 36, 145);
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 2%;
}
.welcomeText a{
    border: 1px solid black;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: black;
    margin-bottom: 5%;
}
.welcomeText a:hover{
    background: rgb(194, 215, 210);
    color: black;
    
}

/*The Responsive Design...*/
@media(min-width: 1024px){
    .logo img{
        width: 150px;
        height: auto;

    }
}
@media (max-width: 768px) {
    .nav-area li{
       display: block;
       
        
       
    }
    li{
        font-size: 5px;
       /* text-size-adjust: auto;*/
        
    }
    .grid ul{
        width: 100%;
        display: grid;
        position: center;
        grid-template-columns: repeat(1, auto);
        grid-gap: 15px;
        margin-top: 30%;
        
        
       }
    body{
        background-position: center;
    }
    .welcomeText{
        text-align: center;
        border: 10px double rgb(0, 0, 0);
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 5%;
        margin-right: 5%;
        background: rgb(176, 172, 172);
        overflow: auto;
    
    }
    .logo img{
        width: 80px;
        height: auto;

    }
}