* {
	box-sizing: border-box;
}

#backButton{
    background: rgb(89, 112, 244);
    color: white;
    padding-bottom: 1%;
    padding-right: 1%;
    margin-right: 70%;
    
}
#userDirection{
    text-align: center;
    color: rgb(99, 99, 151);
    margin-top: 20%;
    background:white;
    margin-left: 20%;
    margin-right: 20%;
    
}

body {
	background:url('siteImages/wall.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  margin: 0;
  text-align: center;
}

.collectUser {
  	height: 105px;
    margin-top: 2%;
    margin-right: auto;
      display: block;
      text-align: center;
      
}
  



form {
  	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
  	border: 1px solid rgba(0,0,0,0.3);
  	border-radius: 6px;
  	box-shadow: inset 0 1px 3px rgba(255,255,255,0.4),
    									0 1px 3px rgba(0,0,0,0.45);
  	padding: 10px;
  	/*position: relative;*/
      animation: appear 1.5s ease;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      
    
}
 


input {
	border-radius: 5px;
  height: 34px;
  padding: 0;
  }

input {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
	border: 1px solid rgba(0,0,0,0.48);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.4),
    								0 1px 0 rgba(255,255,255,0.5);
  padding-left: 10px;
  width: 240px;
  appearance: none;
  color:white;
}

::placeholder {
    color: white;

}
  


input[type="button"] {
  background: linear-gradient(#58a9e2, #346cce);
  border: 1px solid rgba(0,0,0,0.48);
  box-shadow: inset 0 1px 3px rgba(255,255,255,0.4),
    								0 1px 2px rgba(0,0,0,0.45);
  color: #fff;
  display: block;
  font-weight: bold;
	height: 35px;
  margin-left: 5px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  width: 76px;
}
input[type="button"]::after hover {
  	background: linear-gradient(#6db1e1, #4375cc);
  }
  
  input[type="button"]::after active {
  	box-shadow: inset 0 1px 2px rgba(0,0,0,0.45),
                                      0 1px 3px rgba(255,255,255,0.4);
                                      
  }







